# My first machine learning prediction

In [4]:
# load data
import pandas as pd
db= pd.read_csv('music.csv')
db

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

### Clean data and separate them in entry data X and predictions data Y

In [7]:
#entry data X
X = db.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [16]:
# predictions Y
Y = db['genre']

### use a decision tree algorithme from sklearn to train our model

In [17]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
# train model
model.fit(X,Y)

DecisionTreeClassifier()

In [18]:
# make a predicton a bout data doesen't exist in the sample what we train
age = int(input('Enter age :'))
sex = int(input('are you male enter 1/ if you femal entre 0'))
model.predict([[age,sex]])

Enter age :21
are you male enter 1/ if you femal entre 01

array(['HipHop'], dtype=object)